<a href="https://colab.research.google.com/github/dishibhatt05/machine-learning/blob/supervised_learning/titanic_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
'''
write supervised  machine learning code to predict minimum death
Note:  find data of titanic from kaggle or any relevant datasource

apply supervised machine learning with your choice of classifier


'''

'\nwrite supervised  machine learning code to predict minimum death\nNote:  find data of titanic from kaggle or any relevant datasource\n\napply supervised machine learning with your choice of classifier\n\n\n'

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.tree  import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [0]:
data=pd.read_csv('train.csv')
#data.describe()

In [0]:
#data

In [0]:
features=data.iloc[0:,[4,5]].values
#features

In [0]:
label=data.iloc[0:,[1]]
#label

In [0]:
from sklearn.preprocessing import Imputer

In [11]:
# axis = 0 i.e. it is column oriented , it is easy
imp=Imputer(missing_values='NaN',strategy="most_frequent",axis=0)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
impute=imp.fit(features[0:,[1]])

In [0]:
# now tranforminf the fitted columns
features[:,[1]]=impute.transform(features[:,[1]])
#features

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
# this is for gender labelling
gen=LabelEncoder()

In [0]:
# now applying name column in label encoder
features[:,0]=gen.fit_transform(features[:,0])
#features

In [0]:
clf=DecisionTreeClassifier()

In [0]:
# splitting data for trainig and testing
from sklearn.model_selection import train_test_split
train_data,test_data,train_label,test_label=train_test_split(features,label,test_size=0.1)

In [0]:
trained=clf.fit(train_data,train_label)

In [20]:
predict_data=trained.predict(test_data)
predict_data

array([0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0])

In [0]:
# counting death in predicted outputs\
count_pdeath=0
for i in predict_data :
  if i==1 :
      count_pdeath=count_pdeath+1

In [22]:
print('min death predicted is',count_pdeath)

min death predicted is 26

In [0]:
# counting death in actual output
count_adeath=0
for i in test_label :
  if i==1 :
    count_adeath=count_adeath+1

In [24]:
print('min death is',count_adeath)

min death is 0

In [25]:
accuracy_score(predict_data,test_label)

0.7444444444444445

In [26]:
test_label

     Survived
434         0
38          0
85          1
582         0
625         0
759         1
309         1
547         1
226         1
332         0
317         0
394         1
182         0
480         0
272         1
295         0
650         0
734         0
378         0
586         0
515         0
80          0
39          1
612         1
859         0
192         1
855         1
354         0
269         1
617         0
..        ...
106         1
442         0
626         0
267         1
503         0
315         1
674         0
266         0
158         0
344         0
36          1
588         0
159         0
248         1
435         1
108         0
517         0
345         1
651         1
562         0
548         0
364         0
792         0
481         0
395         0
428         0
242         0
713         0
569         1
798         0

[90 rows x 1 columns]